
<form name="reset"  class="form-resetpwd" action="#" method="post">
        <h2 class="form-resetpwd-heading">Reset Password</h2>
        <div class="resetpwd-wrap">
	<?PHP
	if ($status == 'failure') {
	    echo "<div class='alert alert-danger'> We couldn't find any record of the email address - ".$email."</div>";
	}
	if ($status != 'success') {
	    ?>
           <input type="email" class="form-control" id="user_email" name="user_email" placeholder="Email Address"></br>
             <button type="submit" class="btn btn-info" style="text-align:center;position: absolute;right: 45%;">Reset Password</button>
            <?PHP
}
if ($status == 'success') {
    echo "<div class='alert alert-success'>Password reset successful!!<br />
    We've sent a new password to your email address.</div>";
}
?>
<div class="login-helpers" style="text-align:center;position: absolute;right: 45%;top :43%;">
    <a href="<?php print BASE_PATH . '/user/login'; ?>">Back to Login</a> <br>
</div>
            </div>

      </form>
