<form name="loginForm" id="loginForm" class="form-signin" action="#" method="post">
        <h2 class="form-signin-heading">sign in now</h2>
        <div class="login-wrap">
            <input type="text" class="form-control" placeholder="User ID" name="user_email" autofocus>
            <input type="password" class="form-control" placeholder="Password" name="user_pwd">
            <label class="checkbox">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" value="remember-me"> Remember me
            </label>
            <button type="submit" name="submit" class="btn btn-lg btn-login btn-block" >Sign in</button>
            <div style="height: 10px;">
            <span class="pull-left"><a href="<?php print BASE_PATH . '/user/forgotpassword'; ?>"> Forgot Password?</a></span>
            <span class="pull-right"><a class="pull-right" href="<?php print BASE_PATH . '/user/register'; ?>">Create a new account </a></span></div>
        </div>

      </form>
