
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>-->
<script src="js/alarm.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        displayAlarms();
    });
</script>
<header id="topbar">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="crumb-icon">
                <a href="#" onclick="configOpen('dashBoard.html', 'section.ngView')">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>
            <li class="crumb-trail">Alarm</li>
        </ol>
    </div>
</header>
<section class="wrapper">
    <div class='col-md-2'></div>
    <div class='col-md-8'>
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Alarm Notification </span>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">

                    <table id='alarmTable' class='table table-bordered table-striped table-hover'>
                        <thead>
                            <tr>
                                <!--<th>#</th>                                            -->

                                <th id="imei">Alarm Name</th>
                                <th id="devicename">Time</th>
                                <th id="devicepic">Options</th>
                            </tr>
                        </thead>                                
                    </table>         
                </form>
            </div>
        </div>
    </div>
    <div class='col-md-2'></div>
    <div>
        <div class="modal fade" id="basicModal1" tabindex="-1" role="dialog" aria-labelledby="basicModal1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4 class="modal-title new-dev" id="myModalLabel">Alarm Details</h4>
                    </div>
                    <div class="modal-body">
                        <input id="deviceId1" type="hidden">
                        <table class='table-condensed table-hover'>
                            <tr>
                                <td><lable >Alarm Id</lable></td>
                            <td><input id="imeiId1" class="imei-readonly" type="text" onchange='checkDeviceUser("edit")' value="102" maxlength="15" onkeypress="return isNumberKey(event)" readonly></td>
                            </tr>
                            <tr>
                                <td><lable >Alarm  Name :</lable></td>
                            <td><input id="deviceNameId1" type="text" value="Battery Alert"></td>
                            </tr>
                            <tr>
                                <td><lable >Type:</lable></td>
                            <td><input id="phoneNoId1" type="text" maxlength="10" onkeypress="return isNumberKey(event)" value="Information"></td>
                            </tr>
                            <tr>
                                <td><lable >Time</lable></td>
                            <td><input id="phoneNoId1" type="text" maxlength="10" onkeypress="return isNumberKey(event)" value="12.30 PM"></td>
                            </tr>

                            <tr>
                                <td><lable >Priority:</lable></td>
                            <td>
                                <select id="bloodGroupId1">
                                    <option value="">Select</option>
                                    <option value="O+" selected>High</option>
                                    <option value="O-">critical</option>
                                    <option value="O-">Medium</option>

                                </select>
                            </td>
                            </tr>


                            <!--<tr>-->
                            <!--<td><lable >Picture:</lable></td>-->
                            <!--<td><input id="picId1"type="file" ></td>-->
                            <!--</tr>-->
                        </table>
                        <div class="editDevice-msgbox"></div>
                    </div>
                    <div class="modal-footer">
                        <button id="edit_device_id" type="button" data-dismiss="modal" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div>
        <div class="modal fadeu" id="basicModal2" tabindex="-1" role="dialog" aria-labelledby="basicModal2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4 class="modal-title new-dev" id="myModalLabel">Delete Alarm</h4>
                    </div>
                    <div class="modal-body">
                        Do you want to delete this Alert???
                        
                    </div>
                    <div class="modal-footer">
                         <button type="button" data-dismiss="modal" class="btn btn-primary" >Delete</button> 
                         <button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
