<?php

echo "Hi " . ucwords($data['userName']) . ",

<br />Based on your request we have reset your account password. The new password is given below<br/>

New Password-  ".$data['userPwd']."<br />

    
<br/><br/>

Team Sandbox";
?>
