<?php

echo "Hi " . ucwords($data['userName']) . ",

<br />You signed up for a Sandbox account using the email ".$data['userEmail'].".

<br />Please confirm your email address by following this link:

<br /> <a target='_blank' href='" . BASE_PATH . "/user/activate-account/".$data['activationKey']."'>".BASE_PATH."/user/activate-account/".$data['activationKey']."</a>.<br/>";
?>
<?php
if ($data['otp']) {
	echo "<br />Your One Time Password is : " . $data['otp'] . "<br />";
}
?>
<?php
echo "<br>Team Sandbox";
?>

