<script type="text/javascript" src="<?php print APP_PATH ?>/js/admin/plugins/jquery/jquery.min.js"></script>
<script src="<?php print APP_PATH ?>/js/admin/common.js"></script>
<script>
    $(document).ready(function() {
        //alert("hi");
        startDashboard();
    });
</script>
    <?php
    echo $this->headLink(array('rel' => 'shortcut icon', 'href' => APP_PATH . '/img/logo-dark.png'))
        ->appendStylesheet(APP_PATH. '/css/admin/theme-default.css')

    ?>
    <!-- EOF CSS INCLUDE -->
  <div class="row" style="padding-top: 20px">
    <div class="col-md-3">

        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-default widget-item-icon"">
            <div class="widget-item-left">
                <span class="fa fa-users"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count" id="total_user"></div>
                <div class="widget-title">Total Users</div>
                <!--    <div class="widget-subtitle">In your mailbox</div> -->
               </div>

           </div>
           <!-- END WIDGET MESSAGES -->

    </div>
    <div class="col-md-3">

        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-default widget-item-icon"">
            <div class="widget-item-left">
                <span class="fa fa-user"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count" id="active_user"></div>
                <div class="widget-title">Active Users</div>
                <!--   <div class="widget-subtitle">Last Month</div>-->
               </div>

           </div>
           <!-- END WIDGET MESSAGES -->

    </div>
    <div class="col-md-3">

        <!-- START WIDGET REGISTRED -->
        <div class="widget widget-default widget-item-icon"">
            <div class="widget-item-left">
                <span class="fa fa-video-camera"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count" id="camera_count"></div>
                <div class="widget-title">Cameras</div>
                <!--   <div class="widget-subtitle">On your website</div>-->
               </div>

           </div>
           <!-- END WIDGET REGISTRED -->

    </div>

      <div class="col-md-3">

          <!-- START WIDGET REGISTRED -->
          <div class="widget widget-default widget-item-icon"">
              <div class="widget-item-left">
                  <span class="fa fa-camera"></span>
              </div>
              <div class="widget-data">
                  <div class="widget-int num-count" id="doorbell_count"></div>
                  <div class="widget-title">Doorbells</div>
                  <!--  <div class="widget-subtitle">Last Month</div>-->
                </div>

            </div>
            <!-- END WIDGET REGISTRED -->

      </div>
      <div class="col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading ui-draggable-handle">
                  <h3 class="panel-title">Overview</h3>
              </div>
              <div class="panel-body">
                  <ul class="list-group border-bottom" style="font-size: 15px">
                      <li class="list-group-item" ><span style="margin-right: 25%">Camera Firmware Version : </span> <b id="camera"></b></li>
                      <li class="list-group-item" ><span style="margin-right: 24%">Doorbell Firmware Version : </span> <b id="doorbell"></b></li>
                      <li class="list-group-item" ><span style="margin-right: 21%">Secondary Firmware Version :</span>  <b id="secondary"></b></li>
                      <li class="list-group-item" ><span style="margin-right: 29%">IOS Application Version : </span> <b id="ios"></b></li>
                      <li class="list-group-item" ><span style="margin-right: 22%">Android Application Version : </span> <b id="android"></b></li>
                      <li class="list-group-item" ><span style="margin-right: 44%">Cloud  Version : </span> <b id="cloud"></b></li>
                  </ul>
              </div>
          </div>
      </div>
    <div class="col-md-6">

        <!-- START WIDGET CLOCK -->
        <div class="widget widget-success widget-padding-sm">
            <div class="widget-big-int plugin-clock">00:00</div>
            <div class="widget-subtitle plugin-date">Loading...</div>

           <!-- <div class="widget-buttons widget-c3">
                <div class="col">
                    <a href="#"><span class="fa fa-clock-o"></span></a>
                </div>
                <div class="col">
                    <a href="#"><span class="fa fa-bell"></span></a>
                </div>
                <div class="col">
                    <a href="#"><span class="fa fa-calendar"></span></a>
                </div>
            </div>-->
        </div>
        <!-- END WIDGET CLOCK -->

    </div>
</div>
<!-- END WIDGETS -->


<!-- START PLUGINS -->

<script type="text/javascript" src="<?php print APP_PATH ?>/js/admin/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?php print APP_PATH ?>/js/admin/plugins/bootstrap/bootstrap.min.js"></script>
<!-- END PLUGINS -->

<!-- START THIS PAGE PLUGINS-->
<script type='text/javascript' src='<?php print APP_PATH ?>/js/admin/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="<?php print APP_PATH ?>/js/admin/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="<?php print APP_PATH ?>/js/admin/plugins/owl/owl.carousel.min.js"></script>

<script type="text/javascript" src="<?php print APP_PATH ?>/js/admin/plugins.js"></script>
