
<script src="<?php print APP_PATH ?>/js/jquery.js"></script>
<script src="<?php print APP_PATH ?>/js/admin/user.js"></script>
<script src="<?php print APP_PATH ?>/js/admin/common.js"></script>

<script>
    $(document).ready(function() {
        //alert('hi');
        startUsers();
    });
</script>
<header id="topbar">
    <div class="topbar-left">
        <ol class="breadcrumb">

            <li class="crumb-icon">
                <a href="<?php print BASE_PATH . '/admin/home'; ?>">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>
            <li class="crumb-trail">Users</li>
        </ol>
    </div>
</header>
<section class="wrapper">
    <div class='col-lg-12'>
        <div class="row">
            <div class="alert alert-success device_success_msg hide" role="alert">
                <button type="button" class="close" aria-label="Close" onclick="closeMsg('success')"><span aria-hidden="true">&times;</span></button>
                <span class="success_msg"></span>
            </div>
            <div class="alert alert-danger device_failure_msg hide" role="alert">
                <button type="button" class="close" aria-label="Close" onclick="closeMsg('failure')"><span aria-hidden="true">&times;</span></button>
                <span class="failure_msg"></span>
            </div>
        </div>
    </div>
    <div class='col-lg-12'>
        <div class="row">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">User List </span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">

                        <table id='DeviceTable' class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">

                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-1'></div>
</section>
