<style>
    .modal.fade .modal-dialog{transform:none !important;}
</style>
<script src="<?php print APP_PATH ?>/js/alarm.js"></script>
<script src="<?php print APP_PATH ?>/js/common.js"></script>
<script src="<?php print APP_PATH ?>/js/jquery.js"></script>
<script>
    $(document).ready(function() {
        //alert('hi');
        listAlarms();
    });
</script>
<header id="topbar">
    <div class="topbar-left">
        <ol class="breadcrumb">

            <li class="crumb-icon">
                <a href="<?php print BASE_PATH . '/userhome'; ?>">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>
            <li class="crumb-trail">Alarms</li>
        </ol>
    </div>
</header>
<section class="wrapper">
    <div class='col-lg-12'></div>
    <div class='col-lg-12'>
        <div class="row">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Alarms List </span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">

                        <table id='alarmsTable' class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">

                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-1'></div>    
</section>
<!-- View Video Modal -->
<div class="modal fade" id="viewAlarmVideoModal" tabindex="-1" role="dialog" aria-labelledby="viewAlarmVideoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title new-dev" id="alarmVideoModalLabel"></h4>
            </div>
            <div class="modal-body viewAlarmVideoModalBody embed-responsive embed-responsive-16by9">
            </div>
        </div>
    </div>
</div>