<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Load Test</title>
    <meta name="description" content="Product Powered by VVDN">
    <meta name="author" content="vvdnlt168" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="<?php print APP_PATH ?>/js/load_test.js"></script>
    <script src="<?php print APP_PATH ?>/js/jquery.js"></script>

</head>
<body>
<script>
    $(document).ready(function() {
        callAjax('52.24.90.251/device/get-camerainfo?mac=78:A5:04:23:C5:5E', 'post','', displayresult);
    });
</script>

</body>
</html>

