<form name="loginForm" id="loginForm" class="form-signin" action="#" method="post">
        <h2 class="form-signin-heading">Admin sign in</h2>
        <div class="login-wrap">
            <input type="text" class="form-control" placeholder="Admin ID" name="admin_email" autofocus>
            <input type="password" class="form-control" placeholder="Password" name="admin_pwd">
            <label class="checkbox">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" value="remember-me"> Remember me
            </label>
            <button type="submit" name="submit" class="btn btn-lg btn-login btn-block" >Sign in</button>
            <div style="height: 10px;">
            <span class="pull-left"><a href="<?php print BASE_PATH . '/admin/forgotpassword'; ?>"> Forgot Password?</a></span>
            </div>
        </div>

      </form>
