
     <form name="reg_form" id="regForm" name="regForm" class="form-signin" action="" method="POST" role="form" autocomplete="off">
        <h2 class="form-signin-heading">sign up</h2>
        <div class="login-wrap">
            <input type="text" class="display-none" id="email-breaker" style="display: none" />
            <input type="password" class="display-none" id="password-breaker" style="display: none" />
            <div class="form-group">
                <input id="fullname" name="user_name" class="form-control" placeholder="Full Name" type="text" value="<?php echo(htmlspecialchars($formData['user_name'])) ?>" autocomplete="off" data-edit="createLink" autocomplete="off" maxlength="30"/>
            </div>
            <div class="form-group ">
                <input class="form-control" name="user_email" id="email" type="text" placeholder="Email ID " value="<?php echo(htmlspecialchars($formData['user_email'])) ?>" autocomplete="off" />
                <span id="span1" style="display:none"><i class='fa fa-square' style="color:#9db36a;font-size:13px;margin:3px 0px 0px 0px;float: left"></i><span style="margin:0px 0px 0px 16px;color:#9db36a;font-size:13px;">Available</span></span>
                <span id="span2" style="display:none"><i class='fa fa-square' style="color:#b94a48;font-size:13px;margin:3px 0px 0px 0px;float:left"></i><span style="margin:-1px 0px 0px 16px;color:#b94a48;font-size:13px;">Already used</span></span>
            </div>
            <div class="form-group">

                <input id="mobile" name="user_mobile" class="form-control" placeholder="Mobile Number" type="text" value="<?php echo(htmlspecialchars($formData['user_mobile'])) ?>" autocomplete="off" data-edit="createLink" autocomplete="off" maxlength="20"/>
            </div>
            <div class="form-group" >

                <input class="form-control" name="user_pwd" id="password" type="password" placeholder="Password" autocomplete="off"/>
                <span><i class="fa fa-square hidden" id="spnIcon" style="font-size:13px;margin:2px"></i><span class="hidden" id="spnPwd" style="font-size:13px;margin-left:18px">sasasA</span></span>
                <!--<span><i class="fa fa-square hidden" id="spnIcon" style="font-size:13px;margin:2px;margin-left: 15px"></i><i id="infopwd" class="fa fa-info-circle hidden" style="margin:2px;font-size:10px"></i><span class="hidden" id="spnPwd" style="font-size:13px;margin-left:33px"></span></span>-->
                <input class="form-control" name="ePassword" id="ePassword" type="hidden" placeholder="Password"/>
            </div>
            <div class="form-group">

                <input class="form-control" name="user_confirmpwd" id="repassword" type="password"  placeholder="Confirm Password" autocomplete="off"/>
            </div>
            
            <div class="form-actions" style="padding-left: 22px;">
               <!-- <label class="checkbox" > <input name="agree_terms" type="checkbox" class="uniform" value="1"> I agree to the <a href="<?php /*print BASE_PATH . '/terms-of-services'; */?>" target="_blank">Terms of Service</a> and <a href="<?php /*print BASE_PATH . '/privacy-policy'; */?>" target="_blank">Privacy Policy</a></label>
                -->
                <button type="submit" name="submit" class="btn btn-info" id="btn-submit">Create Account</button>
            </div>


        </div>

      </form>

