
<form name="login" id="resetPwdForm" class="form-signin" action="#" method="post">
    <h2 class="form-signin-heading">Reset Password</h2>
    <div class="resetpwd-wrap">
        <i class="fa fa-lock"></i>
        <input class="form-control" name="ePassword" id="ePassword" type="hidden" placeholder="Password"/></br>
        <i class="fa fa-check-square-o"></i>
        <input class="form-control" name="newPassword" id="newpassword" type="password"  placeholder="New Password"/></br>
        <i class="fa fa-check-square-o"></i>
        <input class="form-control" name="confirmPassword" id="confirmpassword" type="password"  placeholder="Confirm Password"/></br>
        <button type="submit" name="submit" class="btn btn-lg btn-login btn-block">Update</button>
    </div>

</form>



