
<script src="<?php print APP_PATH ?>/js/jquery.js"></script>
<script src="<?php print APP_PATH ?>/js/admin/common.js"></script>

<script>
    $(document).ready(function() {
        //alert('hi');
        getVersions();
    });
</script>
<header id="topbar">
    <div class="topbar-left">
        <ol class="breadcrumb">

            <li class="crumb-icon">
                <a href="<?php print BASE_PATH . '/admin/home'; ?>">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>
            <li class="crumb-trail">Upload Cube Firmware</li>
        </ol>
    </div>
</header>
<section class="wrapper">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-body">
                <h3 style="height: 50px"><span class="fa fa-mail-forward"></span> Select Cube Firmware to Upload</h3>
                <form name="fwupload" action="/admin/upload-fw-cube" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="col-md-12">
                            <table class="">
                                <tr>
                                   <td style="min-width: 150px"> <label>Select Cube Firmware</label></td>
                                   <td> <input type="file" name="fileToUpload"  id="fileToUpload" required="required" /></td>
                                </tr>

                                <tr style="height: 40px">
                                    <td style="min-width: 150px"> <label>Cube Firmware Version</label></td>
                                    <td> <input type="text" name="cube_version" id="cube_version" required="required" /></td>
                                </tr>
                                <tr style="height: 60px">
                                    <td style="min-width: 150px"></td>
                                    <td> <input type="submit" value="Upload" class="btn btn-info" name="submit"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</section>


