<!-- PAGE HEADER-->
<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <div class="clearfix">
                <!-- BREADCRUMBS -->
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="<?php print BASE_PATH . '/home'; ?>">Home</a>												
                    </li>
                    <li>Alarms</li>
                </ul>
                <!-- /BREADCRUMBS -->	
            </div>
        </div>
    </div>
</div>
<!-- /PAGE HEADER -->
<!-- PAGE CONTENT -->
<div id="alarm-loading" class="text-center font-20">Loading...</div>
<!-- DATA TABLES -->
<div class="row">
    <div class="col-md-12">
        <!-- ALARMS LIST -->
        <div class="box border green">
            <div class="box-title">
                <h4><i class="fa fa-list"></i>Alarms List</h4>
                <div class="tools hidden-xs">
                    <a href="javascript:;" class="collapse">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <table id="datatable1" cellpadding="0" cellspacing="0" border="0" class="alarms-list datatable table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Alarm Type</th>
                            <th>Severity</th>
                            <th>Group Name</th>
                            <th>Controller</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /ALARMS LIST -->
    </div>
</div>
<!-- /DATA TABLES -->
<!-- /PAGE CONTENT -->

<?PHP
$this->headLink()->appendStylesheet(BASE_PATH . '/js/datatables/media/css/jquery.dataTables.min.css');
$this->headLink()->appendStylesheet(BASE_PATH . '/js/datatables/media/assets/css/datatables.min.css');
$this->headLink()->appendStylesheet(BASE_PATH . '/js/datatables/extras/TableTools/media/css/TableTools.min.css');

$this->headScript()->appendFile(BASE_PATH . '/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js', 'text/javascript');
$this->headScript()->appendFile(BASE_PATH . '/js/datatables/media/js/jquery.dataTables.min.js', 'text/javascript');
$this->headScript()->appendFile(BASE_PATH . '/js/datatables/media/assets/js/datatables.min.js', 'text/javascript');
$this->headScript()->appendFile(BASE_PATH . '/js/datatables/extras/TableTools/media/js/TableTools.min.js', 'text/javascript');
$this->headScript()->appendFile(BASE_PATH . '/js/datatables/extras/TableTools/media/js/ZeroClipboard.min.js', 'text/javascript');

$this->headScript()->appendScript("jQuery(document).ready(function() {		
		App.setPage();  //Set current page
                App.init();    //Initialise plugins and elements
		App.getAlarms();
		});", $type = 'text/javascript');
$this->headTitle("Meru | Alarms");
$this->headScript()->prependScript('var controllerData = ' . json_encode($controllerData) . ';'
        . 'var alarmsApi = "' . $alarmsApi . '"');
?>							