
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin</title>

<?php
echo $this->headLink(array('rel' => 'shortcut icon', 'href' => APP_PATH . '/img/logo-dark.png'))
    ->appendStylesheet(APP_PATH. '/css/bootstrap.min.css')
    ->appendStylesheet(APP_PATH . '/css/style.css')
    ->appendStylesheet(APP_PATH . '/css/dashboard.css')
    ->appendStylesheet(APP_PATH . '/css/jquery-ui.min.css')
    ->appendStylesheet(APP_PATH . '/js/datatables/css/jquery.dataTables.min.css')

?>
<!-- /navbar -->
<div class="row">
    <!--/.span3-->
    <div class="col-md-12 panel-default">
        <div class="content panel-body">
            <div class="btn-controls">
                <div class="btn-box-row row-fluid">

                    <a href="#" class="btn-box big span6"><img src="<?php print APP_PATH; ?>/img/graph1.jpeg"></i><b>85%</b>
                        <p class="text-muted">
                            Performance </p>
                    </a><a href="#" class="btn-box big span6"><img src="<?php print APP_PATH; ?>/img/graph2.jpeg"></i><b>5</b>
                        <p class="text-muted">
                            Alarms</p>
                    </a>
                </div>

            </div>
        </div>
        <!--/#btn-controls-->

        <!--/.module-->
    </div>
    <!--/.content-->
</div>

<?php

echo $this->headScript()
    ->appendFile(APP_PATH . '/js/jquery.js', 'text/javascript')
    ->appendFile(APP_PATH . '/js/validation.js')
    ->appendFile(APP_PATH . '/lib/jQuery-validate/jquery.validate.min.js')
    ->appendFile(APP_PATH . '/js/jquery-ui.min.js', 'text/javascript')
    ->appendFile(APP_PATH . '/js/bootstrap.min.js', 'text/javascript')
    ->appendFile(APP_PATH . '/js/common-scripts.js', 'text/javascript')
    ->appendFile(APP_PATH . '/js/common.js', 'text/javascript')
    ->appendFile(APP_PATH . '/js/datatables/jquery.dataTables.js', 'text/javascript');


?>
