<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" href="">

    <title>Sandbox</title>
    <?php
    echo $this->headLink(array('rel' => 'shortcut icon', 'href' => APP_PATH . '/img/logo-dark.png'))
        ->appendStylesheet(APP_PATH. '/css/bootstrap.min.css')
        ->appendStylesheet(APP_PATH . '/css/style.css')
        ->appendStylesheet(APP_PATH . '/css/jquery-ui.min.css')
        ->appendStylesheet(APP_PATH. '/lib/bootstrap-switch/css/bootstrap-switch.min.css')
        ->appendStylesheet(APP_PATH . '/js/datatables/css/jquery.dataTables.min.css')
        ->appendStylesheet(APP_PATH . '/js/datatables/css/dataTables.responsive.css')
        ->appendStylesheet(APP_PATH . '/js/datatables/css/dataTables.bootstrap.css')
    ?>
    <script>
    var APP_PATH = "<?php echo APP_PATH ?>";
    </script>
</head>
<body>

<section id="container" >
    <!--header start-->
    <header class="header white">

        <!--logo start-->
        <div id='logo_container' class='vv-text-center'>
            <div class='globe'></div>
            <div class="sidebar-toggle-box">
                <div class="glyphicon glyphicon-th" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <a href="#" class="logo "><img src="<?php print APP_PATH; ?>/img/logo-dark.png"/><span></span></a>
            <!--logo end-->
        </div> <!--logocontainer end-->

        <div class='right_head2'>
            <a href='#'  class=" dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <div class="glyphicon glyphicon-th" data-placement="right" data-original-title="Toggle Navigation"></div></a>

            <ul class="dropdown-menu ulmenu" role="menu" >
                <li><a href='#' onclick="openPage('#help_content', '#contHelp', current_page)"><i class='glyphicon glyphicon-question-sign'></i></a></li>
                <li role="presentation" class="divider"></li>
                <li><a href="#" onclick="configOpen('changepassword.html', 'section.ngView')"><i class='glyphicon glyphicon-lock'></i></a></li>
                <li><a href="login.html"><i class='glyphicon glyphicon-off'></i></a></li>
            </ul>
        </div>

        <div class="nav right_head" id="top_menu">
            <ul class="nav top-menu">
                <!-- settings start -->

                <li >
                    <a  href="#" class='without_border'>
                        Admin
                    </a>
                </li>

                <!-- <li>
                    <a href="#" onfocus="openPage('#help_content', '#contHelp', 'sample.html')">
                        <i class="glyphicon glyphicon-user"></i>

                    </a>
                </li>-->

                <!--/  <li><a href='#' onclick="openPage('#help_content', '#contHelp', current_page)"><i class='glyphicon glyphicon-question-sign'></i></a></li>-->
                <!--<li><a href="#" onclick="configOpen('changepassword.html', 'section.ngView')"><i class='glyphicon glyphicon-lock'></i></a></li>-->
                <li><a href='<?PHP echo BASE_PATH ?>/admin/logout'><i class='glyphicon glyphicon-off'></i></a></li>
            </ul>

        </div>

    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="leftsidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="leftsidebar-menu" id="nav-accordion">
                <li>
                    <a href="<?php print BASE_PATH . '/admin/home'; ?>">
                        <i class="glyphicon glyphicon-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="<?php print BASE_PATH . '/admin/users'; ?>">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>Users</span>
                    </a>
                </li>
                <li>
                    <a href="<?php print BASE_PATH . '/admin/upload-fw-camera'; ?>">
                        <i class="glyphicon glyphicon-folder-close"></i>
                        <span>Upload Camera Firmware</span>
                    </a>

                </li>
                <li>
                    <a href="<?php print BASE_PATH . '/admin/upload-fw-doorbell'; ?>">
                        <i class="glyphicon glyphicon-folder-close"></i>
                        <span>Upload Doorbell Firmware</span>
                    </a>

                </li>
                <li>
                    <a href="<?php print BASE_PATH . '/admin/upload-fw-cube'; ?>">
                        <i class="glyphicon glyphicon-folder-close"></i>
                        <span>Upload Cube Firmware</span>
                    </a>

                </li>

            </ul>
            <!-- leftsidebar menu end-->
        </div>
    </aside>
    <!--leftsidebar end-->
    <!--main content start-->
    <section id="main-content">
        <div style="padding-top: 75px">
            <?php
            if (!empty($errorMessages)) {
                ?>
                <div class='alert alert-success'>
                    <div>
                        <?php echo $errorMessages[0] ?> <button type="button" class="close" aria-label="Close" onclick="closeMsg('success')"><span aria-hidden="true">&times;</span></button>
                    </div>

                </div>
                <section >
                    <div id="<?php echo $contentCls; ?>" class="col-lg-12">
                        <!-- PAGE CONTENT -->
                        <?php echo $this->content; ?>
                        <!-- /PAGE CONTENT -->
                        <!-- HEADER -->

                        <!--/HEADER -->
                    </div><!-- /CONTENT-->

                </section>
            <?php
            }
            ?>
        </div>
        <?php
        if (empty($errorMessages)) {
        ?>
        <section class="">
            <div id="<?php echo $contentCls; ?>" class="col-lg-12">
                <!-- PAGE CONTENT -->
                <?php echo $this->content; ?>
                <!-- /PAGE CONTENT -->
                <!-- HEADER -->
               
                <!--/HEADER -->
            </div><!-- /CONTENT-->
            <?php
            }?>
        </section><!--ngview ends here-->
    </section>
    <!--main content end-->


</section>

<div  id='help_content'>
    <div class='help_head'>
        <div class='help_headcontent'>
            <h5>registration Details</h5>
            <span style='position:absolute; right:10px; top:10px;'><a href='#' id='close' onclick='closeDiv("#help_content")'><img src="<?php print APP_PATH; ?>/img/close.png" style="width:20px;height:20px;"/></a></span>
        </div>
    </div>
    <div class='help_contentfile'>
        <div id='contHelp'>
        </div>
    </div>
</div>
<div class="black-back"></div>

<div id="warn-alert" class=" alert alert-error alert-danger alert-block">
    <button  type="button" class="close" onclick='alert_off()'>&times;</button>
    <div class='content-alert' style='padding-top: 20px;'></div>
</div>
<!-- js placed at the end of the document so the pages load faster -->

<?php

echo $this->headScript()
    ->appendFile(APP_PATH . '/js/jquery.js', 'text/javascript')
    ->appendFile(APP_PATH . '/js/validation.js')
    ->appendFile(APP_PATH . '/lib/jQuery-validate/jquery.validate.min.js')
    ->appendFile(APP_PATH . '/lib/moment.js/moment.min.js')
    ->appendFile(APP_PATH . '/js/jquery-ui.min.js', 'text/javascript')
    ->appendFile(APP_PATH . '/lib/jQuery-BlockUI/jquery.blockUI.min.js')
    ->appendFile(APP_PATH . '/js/bootstrap.min.js', 'text/javascript')
    ->appendFile(APP_PATH . '/lib/bootstrap-switch/js/bootstrap-switch.min.js')
    ->appendFile(APP_PATH . '/lib/bootbox/bootbox.min.js')
    ->appendFile(APP_PATH . '/js/common-scripts.js', 'text/javascript')
    //->appendFile(APP_PATH . '/js/common.js', 'text/javascript')
   // ->appendFile(APP_PATH . '/js/dashboard.js', 'text/javascript')
    ->appendFile(APP_PATH . '/js/datatables/jquery.dataTables.js', 'text/javascript')
    ->appendFile(APP_PATH . '/js/datatables/fnReloadAjax.js', 'text/javascript')
    ->appendFile(APP_PATH . '/js/datatables/dataTables.bootstrap.js', 'text/javascript')
    ->appendFile(APP_PATH . '/js/datatables/dataTables.responsive.js', 'text/javascript');

?>
<script>
$(function(){
    // Active menu tab
    var url = window.location.href; 
    $("#leftsidebar a").each(function() {
        if(url == (this.href)) { 
            $(this).closest("li a").addClass("active");
        }
    });
});

var closeMsg = function(type) {
    if (type == 'success') {
        $(".alert-success").addClass('hide');
        $(".success_msg,.pair_success_msg").text('');
    }
    else {
        $(".device_failure_msg,.pairSensor_failure_msg").addClass('hide');
        $(".failure_msg,.pair_failure_msg").text('');
    }
};
</script>
</body>
</html>





