
<section class="wrapper">
    <!-- No of camera's to display -->
    <div class="row">
        <div class="no_cameras col-lg-10 col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-lg-offset-1">
            <div class='margin-bottom-10'>
                <div class="form-group">
                    <label class='col-md-3'>Display Cameras:</label>
                    <div class='col-md-6'>
                        <select class="form-control" id="display_camera" onchange="noOfCameras(this);">
                            <option value="1">1</option>Selected
                            <option value="2">2</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <!-- live camera video streaming -->
    <div class="display_2">
    </div>
</section>
